.brands {
    padding: 65px 0;
}

.brands__container {
    margin: 0 auto;
    width: 70%;
}

.brand__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 25px;
}

.brand img {
    width: 80%;
    height: 80%;
    filter: saturate(0);
    transition: all 400ms ease;
    object-fit: cover;
}

.brand:hover img {
    filter: saturate(1);
}

@media screen and (max-width:750px) {
    .brand__content {
        gap: 12px;
    }

    .brands {
        padding: 30px 0;
    }
}