.header {
    padding: 35px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center; */
    align-items: center;
}

.header a {
    text-decoration: none;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__content h1 {
    max-width: 400px;
    font-size: 50px;
    line-height: 57px;
}

.header__content p {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--clr-grey);
}

.header__cta {
    padding: 40px 0;
}

#discover {
    display: flex;
    align-items: center;
    gap: 5px;
}
#discover a {
    color: var(--clr-grey);
    font-size: 16px;
}

.cta__button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px;
    background: var(--clr-lgt-grey);
    border: 1px solid transparent;
    border-radius: 50px;
    width: fit-content;
    margin-bottom: 30px;
    margin-top: 10px;
}

.buy,
.rent {
    width: 150px;
    padding: 15px 25px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: var(--clr-white);
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.buy a,
.rent a {
    color: var(--clr-grey);
    font-size: 16px;
    font-weight: 700;
}

.buy .icon,
.rent .icon {
    color: var(--clr-grey);
    font-size: 20px;
}

.active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active a {
    color: var(--clr-blue);
    font-size: 16px;
    font-weight: 700;
}

.active .icon {
    color: var(--clr-blue);
    font-size: 20px;
}

.cta__search {
    display: flex;
    align-items: center;
    padding: 7px;
    background: var(--clr-white);
    border: 1px solid transparent;
    border-radius: 35px;
    width: fit-content;
    box-shadow: rgba(14, 109, 255, 0.2) 0px 7px 29px 0px;
}

.cta__search span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cta__icon {
    font-size: 22px;
    color: var(--clr-dark-grey);
    margin-left: 10px;
}

.cta__search input {
    padding: 20px 20px 20px 0;
    font-family: var(--ff-main);
    font-weight: 600;
    color: var(--clr-black);
    background: var(--clr-white);
    font-size: 17px;
    border: none;
    outline: none;
}

.cta__search button {
    width: 150px;
    padding: 20px;
    background-color: var(--clr-blue);
    border: 1px solid transparent;
    border-radius: 50px;
    font-family: var(--ff-main);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--clr-white);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.typed-cursor{
    color: var(--clr-blue);
    
  }
  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }
  .typed-fade-out{
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
  }

  @media screen and (max-width:1024px) {
    .header {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    .header__content {
        align-items: center;
    }

      .cta__search {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
          align-items: center;
          width: 100%;
          padding: 9px;
      }
      .cta__search button {
          width: 100%;
      }

      .header__content h1 {
          font-size: 45px;
          text-align: left;
      }
  }

  