.features {
    margin: 0 auto;
    margin-top: -350px;
    width: 98%;
    height: 935px;
    background-color: #161616;
    border: 1px solid transparent;
    border-radius: 15px;
}

.features__container {
    margin-top: 400px;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__text h5 {
    font-size: 18px;
    font-weight: 600;
    color: #292929;
}

.features__text h1 {
    padding: 35px 0 20px;
    width: 500px;
    text-align: center;
    color: var(--clr-white);
    font-size: 35px;
    font-weight: 500;
}

.features__text p {
    width: 500px;
    text-align: center;
    color: var(--clr-dark-grey);
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
}

.features__feature {
    margin: 75px 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.features__feature article {
    width: 240px;
}

.features__feature > article span {
    color: var(--clr-white);
    font-size: 45px;
    margin: 25px 0;
}

.features__feature > article h1 {
    color: var(--clr-white);
    font-size: 25px;
    font-weight: 500;
}

.features__feature > article p {
    padding: 13px 0;
    color: var(--clr-dark-grey);
    font-size: 12.5px;
    line-height: 17px;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .features__feature {
        gap: 20px;
    }

    .features__feature > article h1 {
        font-size: 22px;
    }

    .features__feature > article p {
        font-size: 11px;
        line-height: 14px;
    }

    .features__feature article {
        width: fit-content;
    }
}

@media screen and (max-width: 700px) {
    .features__feature {
        gap: 15px;
        grid-template-columns: 1fr;
        margin: 30px 0;
    }

    .features {
        height: fit-content;
    }

    .features__text h1 {
        width: 88%;
    }

    .features__text p {
        width: 88%;
    }
}